In [5]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
print(f'{names[0]} age is {age[0]}')
print(f'{names[1]} age is {age[1]}')
print(f'{names[2]} age is {age[2]}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [6]:
for i in range(len(names)):
    print(f'{names[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

**Zip**

In [10]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 25)
('Satish', 30)

In [11]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 25
Satish 30

In [12]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Satish 30
Satish age is 30

In [14]:
[f'{i} age is {j}' for i,j in zip(names,age)]

['Ramesh age is 20', 'Suresh age is 25', 'Satish age is 30']

**Dictionary**

In [ ]:
- In above example names and age both are together

- when both are together we can pair them

- This can happen using dictionary

- Dictionary is called as **key-value** pair

- it represents with curly braces : **{key:value}**

- ramesh and 20 years both are pair: {'ramesh':20}

In [16]:
d1={'ramesh':20,"Suresh":25,'Satish':30}
d1

{'ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [17]:
d2={20:'ramesh',25:"Suresh",30:'Satish'}
d2

{20: 'ramesh', 25: 'Suresh', 30: 'Satish'}

In [19]:
d3={'Hi':10,'how':20,'are':30}
d3

{'Hi': 10, 'how': 20, 'are': 30}

In [20]:
d4={1:5,2:2,3:9}
d4

{1: 5, 2: 2, 3: 9}

In [21]:
d5={1:22.1144,5:4.554,9:8.220}
d5

{1: 22.1144, 5: 4.554, 9: 8.22}

In [24]:
d6={2:'#','a':'&','l':'|'}
d6

{2: '#', 'a': '&', 'l': '|'}

In [27]:
d7={(1,2,3,2):(5,8,6,8)}
d7

{(1, 2, 3, 2): (5, 8, 6, 8)}

In [30]:
d8={'ramesh':10,'ramesh':40}
d8
# if both keys are same it will take the latest value
# dictionaries are kind of database
# dictionaries does not allow duplicates
# in dictionary keys can not be duplicate but values can be duplicate

{'ramesh': 40}

In [ ]:
d1={'ramesh':20,"Suresh":25,'Satish':30}
d2={20:'ramesh',25:"Suresh",30:'Satish'}
d3={'ramesh':'20',"Suresh":'25','Satish':'30'}
d4={'ramesh':'20',"Suresh":'25',30:'Satish'}
d5=

**list as keys fails because list has a mutable behaviour**

**tuple as keys works because tuple has immutable behaviour**

**in dictionary keys are very very important**

**keys doen not change so when we apply list is failing**

- if both keys are same it will take the latest value

- Dictionarys does not allow duplicates

- In dictionary keys play vital roles

- keys can not be duplicate but values can be duplicate

In [3]:
d14={'fruits':{'Apple':20}}  # works
d14

{'fruits': {'Apple': 20}}

In [4]:
d15={{'Apple':20}:'fruits'}  # fails

TypeError: unhashable type: 'dict'

In [5]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
# apply min max sum sorted reversed
min(dict1)

'Apple'

In [9]:
max(dict1)

'Cherry'

In [8]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [19]:
m=reversed(dict1)

In [21]:
list(m)

['Cherry', 'Banana', 'Apple']

In [22]:
dict2={'Apple':20,'apple':30}
min(dict2)

('Apple', 'apple')

In [23]:
max(dict2)

'apple'

In [24]:
sum(dict2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
sorted(dict2)

['Apple', 'apple']

In [27]:
m=reversed(dict2)
list(m)

['apple', 'Apple']

In [28]:
dict3={20:'Apple',30:'Banana',50:'Cherry'}
min(dict3)

20

In [29]:
max(dict3)

50

In [30]:
sum(dict3)

100

In [31]:
sorted(dict3)

[20, 30, 50]

In [32]:
x=reversed(dict3)
list(x)

[50, 30, 20]

In [33]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1

True

In [34]:
20 in dict1

False

In [35]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [36]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [39]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
l=len(dict1)
for i in range(0,l):
    print(i)

0
1
2

**index**

In [40]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1[0]

KeyError: 0

- index operation will fail in dictionary

**how to extract the values**

- in dictionary we have a concept key:value pair

- keys are very important

- in order to get the values we need to take keys help

In [43]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1['Apple']
dict1['Banana']
dict1['Cherry']

50

In [46]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [52]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
for i in names:
    print(f'{i} age is {names[i]}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [53]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
for key in names:
    value=names[key]
    print(f'{key} age is {value} ')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [54]:
# get cherry
d={'fruits':['Apple','Banana','Cherry']}
d['fruits'][2]

'Cherry'

In [55]:
d={'fruits':{'Apple':['sweet','sour','green']}}
d

{'fruits': {'Apple': ['sweet', 'sour', 'green']}}

In [57]:
d['fruits']['Apple'][2]

'green'

In [59]:
d={'fruits':[{'cost':[50]}]}
d

{'fruits': [{'cost': [50]}]}

In [61]:
d['fruits'][0]['cost'][0]

50

In [12]:
d={'fruits':['Apple'],'cost':[{'1kg':[20,30,40],'2kg':None}]}
d

{'fruits': ['Apple'], 'cost': [{'1kg': [20, 30, 40], '2kg': None}]}

In [10]:
d['cost'][0]['1kg'][2]

40

In [16]:
d['cost'][0]['2kg']

In [18]:
d={'fruits':['Apple'],'cost':[{'1kg':[20,30,40],'2kg':'None'}]}
d['cost'][0]['2kg'][0]

'N'

In [20]:
d={'fruits':{'orange':{'nagpur':{'MH':{'king':{'shivaji':{'shambaji'}}}}}}}
d

{'fruits': {'orange': {'nagpur': {'MH': {'king': {'shivaji': {'shambaji'}}}}}}}

In [21]:
d['fruits']['orange']['nagpur']['MH']['king']['shivaji']

{'shambaji'}

**how to create empty dictionary**

- now onwards focus on creation of empty list, strings, and dictionary

- we will take empty list will use **append** operation

- we will take empty string will use **concatenation**

- we will take empty dictionary will use **key:value pair concept**

In [22]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [23]:
# string
s=''
s=s+'p'   # ''+'p'
s=s+'y'   # 'p'+'y'='py'
s

'py'

In [28]:
# dictionary
d={}
d['Ramesh']=20
d["Suresh"]=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**How to convert list to dictionary**

In [33]:
# converting list to dictionary
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    print(i,j)
    d[i]=j
d

Ramesh 20
Suresh 25
Satish 30

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [35]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list

- for dict comprehension we should write everything inside dictionary

-

In [41]:
# list comprehension: [<output> <for loop>]
# dict comprehension: {<key:value <for loop>}
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

**mutable-immutable**

- lists are mutable

- dictionaries are also mutable

- strings are immutable

- tuples are immutable

- in dictionaries we can change the values using keys

In [42]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Satish': 30}

In [44]:

dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**methods**

- clear

- copy

- keys

- values

- items

**clear**

In [55]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.clear()
d

{}

In [56]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
l=d.copy()
l

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [57]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [1]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [2]:
type(keys)

dict_keys

In [3]:
# i got mistaken im assuming this is list type
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**

- in order to convert dictionary to list

- first we need to separate keys and values

- then apply list type casting

In [5]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Satish']

In [ ]:
list === string   using join
string === list   using split
list === dict     using zip
dict === list     using typecasting

In [58]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.values()

dict_values([20, 25, 30])

In [6]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [59]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Satish', 30)])

In [7]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [9]:
type(keys_list),type(keys)

(list, dict_keys)

In [49]:
# Creating a dictionary
student = {
    "name": "Alice",
    "age": 22,
    "course": "Electronics",
    "skills": ["Python", "C", "MATLAB"]
}

# Accessing values
print(student["name"])   # Output: Alice
print(student.get("age"))  # Output: 22

# Adding a new key-value pair
student["grade"] = "A"

# Modifying a value
student["age"] = 23

# Removing a key-value pair
del student["course"]

# Iterating over keys and values
for key, value in student.items():
    print(f"{key}: {value}")

Alice
22
name: Alice
age: 23
skills: ['Python', 'C', 'MATLAB']
grade: A

In [18]:
# input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
fname=[]
sname=[]
cname=[]
for i in l1:
    first=i.index('.')
    x=i[0:first]

    second=i.index('@')
    y=i[first+1:second]

    third=i.index('.',first+1)
    z=i[second+1:third]

    fname.append(x)
    sname.append(y)
    cname.append(z)

print(fname)
print(sname)
print(cname)

d={}
d['fname']=fname
d['sname']=sname
d['cname']=cname
print(d)

['virat', 'rohit', 'ms']
['kohli', 'sharma', 'dhoni']
['rcb', 'mi', 'csk']
{'fname': ['virat', 'rohit', 'ms'], 'sname': ['kohli', 'sharma', 'dhoni'], 'cname': ['rcb', 'mi', 'csk']}

In [19]:
d={}
d['Ramesh']=20
d["Suresh"]=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [22]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first=i.index('.')
    second=i.index('@')
    third=i.index('.',first+1)
    fname.append(i[:first])
    sname.append(i[first+1:second])
    cname.append(i[second+1:third])
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

In [23]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [29]:
# 'pop',
#  'popitem'
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.pop('Satish')

30

In [32]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.popitem()

('Satish', 30)

In [33]:
print(d)

{'Ramesh': 20, 'Suresh': 25}

In [35]:
l1=['Ramesh','Suresh','Satish']
l1.remove('Ramesh')
l1

['Suresh', 'Satish']

In [37]:
l1=['Ramesh','Suresh','Satish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **pop** in dictionary, similar analogy **remove** in list

- **popitem** in dictionary ,similar analogy **pop** in list

**get**

In [38]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.get('Ramesh')

20

In [40]:
d['Ramesh']  # key as an index

20

**update**

- update is similar analogy list extend

- take two dictionaries and apply update method

In [41]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d1={'Ganesh': 100, 'Rajesh': 250, 'Sailesh': 300}
d.update(d1)
d

{'Ramesh': 20,
 'Suresh': 25,
 'Satish': 30,
 'Ganesh': 100,
 'Rajesh': 250,
 'Sailesh': 300}

In [2]:
l=[20,25,30]
l1=[100,250,300]
l.extend(l1)
l

[20, 25, 30, 100, 250, 300]

In [3]:
l=[20,25,30]
l1=['Ramesh','Suresh','Satish']
l.extend(l1)
l

[20, 25, 30, 'Ramesh', 'Suresh', 'Satish']

**setdefault**

- suppose an already existed dictionary available

- we can update the dictionary with new key:value pair

In [8]:
d={'Ramesh': 20, 'Suresh': 25, 'Satish': 30}
d.setdefault('manish',100)
d.setdefault('mahesh')
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30, 'manish': 100, 'mahesh': None}

- **setdefault** in dictionary, similar analogy **list append**

- always remember dictionary is a key:value pair concept

- it never involves index operations

- thats why we dont have any index or find methods

- we have get method to extract values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument iterable

- try to provide an iterator i.e. string,list,tuple

In [9]:
d={}
names=['Ramesh','Suresh','Satish']
d.fromkeys(names)

{'Ramesh': None, 'Suresh': None, 'Satish': None}

In [10]:
d={}
names=['Ramesh','Suresh','Satish']
d.fromkeys(names,'Naresh IT')

{'Ramesh': 'Naresh IT', 'Suresh': 'Naresh IT', 'Satish': 'Naresh IT'}

In [11]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- list has count, string has count and tuple also has count

- but dictionaries does not have **count**

- because dictionary does not allow **duplicates**

- strings has **find** but list does not have