**Tuple**

- tuple is a collection of data type which is ordered and immutable

- once tuple is created, its elements cannot be changed,added or removed

- tuples are defined by enclosing the elements in parentheses **()** and separating them with commas.

- To craete a tuple with only one item, you have to add a comma after the item , otherwise python will not recognize it as tuple

- we can also write without parentheses it by default convert into tuple

-

- Basic representations

- Inbuilt functions

   - print

   - type

   - len

   - sum

   - max and min

   - sorted

   - reversed

- concatenation

- indexing

- mutable or immutable concepts

- slicing

- methods

In [1]:
t = (1, 2, 3, 4, 5)

# tuples are indexed
print(t[1])
print(t[4])

# tuples contain duplicate elements
t = (1, 2, 3, 4, 2, 3)
print(t)

# updating an element
t[1] = 100
print(t)

2
5
(1, 2, 3, 4, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [2]:
tuple=(_)
tuple

''

In [13]:
t=(1,2,3,4,5,6,7,8,9)
print(t[4])

5

In [14]:
t[3],t[6],t[7]

(4, 7, 8)

In [15]:
t[-1],t[-6],t[-2]

(9, 4, 8)

In [18]:
my_tuple = ('apple', 'banana', 'cherry')  # accessing elements
print(my_tuple[2])

cherry

In [19]:
x=(1,2,(3,4),5)   # nested tuple
print(x[2])

(3, 4)

In [23]:
y=(1,100,3.14,'hello','bye','$')
print(y[3])

hello

In [24]:
# accessing the tuple
y=(1,100,3.14,'hello','bye','$')
print(y)

(1, 100, 3.14, 'hello', 'bye', '$')

In [29]:
t=(1,2,3,4)
print(t[0]==1)

True

In [30]:
t=(1,2,3,4)
print(t[0]==8)

False

In [31]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [32]:
n=(1,2,3,4)
n[0]=6

TypeError: 'tuple' object does not support item assignment

In [38]:
#transverse through a tuple using for loop
x=(4,5,6,7,8,9)
print(x)
for i in x:
    print(i, end=' ')

(4, 5, 6, 7, 8, 9)
4 5 6 7 8 9

In [40]:
# nesting
t1=(1,2,3,4,5,6)   
t2=('hi','hello','bye')
t3=(t1,t2)
print(t3)

((1, 2, 3, 4, 5, 6), ('hi', 'hello', 'bye'))

In [45]:
t=('python',)*2
print(t)

('python', 'python')

In [46]:
# slicing
t=(1,2,3,4,5,6,7,8,9)
t[0:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
t=(1,2,3,4,5,6,7,8,9)
t[:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [49]:
t[1:5]

(2, 3, 4, 5)

In [50]:
t[5:12]

(6, 7, 8, 9)

In [51]:
t[5:8]

(6, 7, 8)

In [57]:
# delete
l=(1,2,3,4)
del(l)
print(l)

NameError: name 'l' is not defined

In [54]:
# Code for deleting a tuple
t = ( 0, 1)

del t
print(t)

NameError: name 't' is not defined

In [58]:
# length of the tuple
t=(1,2,3,4,'apple','grapes','banana')
print(len(t))

7

In [1]:
t=(1,2,3,4,'apple','grapes','banana')
print(type(t))

<class 'tuple'>

In [60]:
# tuple with multiple data types
t=('hello',True,20.123)
t

('hello', True, 20.123)

In [61]:
t=()
t

()

In [62]:
t=1,2,3,4
t

(1, 2, 3, 4)

In [1]:
# tuple constructor
t = tuple([7, 8, 9])
print(t)

(7, 8, 9)

In [2]:
t=(10)
print(type(t))

<class 'int'>

In [3]:
# tuple packing
a,b,c=1,2,3
t=a,b,c
t

(1, 2, 3)

In [4]:
# sum
t=(1,2,3,4,5,6,7,8,9)
x=sum(t)
print(x)

45

In [5]:
# max and min
t=(10,50,100,12,84,128,450)
i=max(t)
j=min(t)
print(f'Max:{i}')
print(f'Min:{j}')

Max:450
Min:10

In [6]:
t=(10,50,100,12,84,128,450)
sorted(t)

[10, 12, 50, 84, 100, 128, 450]

In [13]:
t=(10,50,100,12,84,128,450,'hi','apple','how','are','you')
sorted(t)

TypeError: '<' not supported between instances of 'str' and 'int'

In [7]:
t=(10,50,100,12,84,128,450)
reversed(t)

In [9]:
x=reversed(t)
list(x)

[450, 128, 84, 12, 100, 50, 10]

In [12]:
t=(10,50,100,12,84,128,450)
t1=reversed(t)
for i in t:
    print(i)

10
50
100
12
84
128
450

In [14]:
# concatenation
t1=(1,2,3,4,5,6)   
t2=('hi','hello','bye')
print(t1+t2)

(1, 2, 3, 4, 5, 6, 'hi', 'hello', 'bye')

In [16]:
# index
t1=(1,2,3,4,5,6,7,8,9,'hi','hello','bye')
t1.index(2)

1

In [5]:
t1=(1,2,3,4,5,6,7,8,9,'hi','hello','bye')
t1.index('hello')

10

In [6]:
# mutable and immutable
l=(9,8,7,6,5,4,3,2,1)
l[1]=50

TypeError: 'tuple' object does not support item assignment

**But tuples can contain mutable elements**

- while tuple themselves are immutable, they can hold the mutable objects like lists

In [9]:
t=(10,20,[30,40],50)
t[2][0]=100
print(t)

(10, 20, [100, 40], 50)

In [10]:
# converting list into tuple
l=[1,2,3,4]
t=tuple(l)
print(t)

(1, 2, 3, 4)

In [11]:
# slicing
t=(1,2,3,4,5,6,7,8,9)
t[0:]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
t[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [13]:
t[0:8:2]

(1, 3, 5, 7)

In [14]:
t[0:6:2]

(1, 3, 5)

In [15]:
t[-1:1:-2]

(9, 7, 5, 3)

In [16]:
t[-5:8:]

(5, 6, 7, 8)

In [17]:
# methods
dir(())
count
index

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**count**

- You can use the .count() method in a tuple to find how many times a specific value appears.

In [20]:
t=(1,2,3,1,3,1,1,2,1,3,1,1)
x=t.count(1)
print(x)

7

In [22]:
t=('A','B','C','D','A','A','B','A','C')
y=t.count('C')
print(y)

2

In [24]:
t=('Apple','Boy','Cat','Dog','Apple','Apple','Boy','Apple','Cat')
z=t.count('Apple')
print(z)

4

**index**

- we can use the index method in tuple to find the index of an element in a tuple

In [25]:
l=(10,20,30,74,25,68)
l.index(20)

1

In [26]:
l=(10,20,30,74,25,68)
l.index(50)

ValueError: tuple.index(x): x not in tuple