In [2]:
a=10
b=20
a
b

20

In [69]:
a=10
b=20
print(a)
print(b)

10
20

In [66]:
print(10)
print(20)

10
20

In [79]:
print(10),print(20)

10
20

(None, None)

In [72]:
10,20

(10, 20)

In [74]:
print(a,b)

10 20

In [81]:
print(30,'Naresh IT','HYD')
# 3 values

30 Naresh IT HYD

In [85]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [95]:
name="python"
age=10
city="Hyd"
# my name is python im 10 years old and came from hyd
print("my name is",name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from Hyd

**Format method**

In [12]:
name="python"
age=10
city="Hyd"
# my name is python im 10 years old and came from hyd
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from Hyd

In [13]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 1000 and 200 is 1200

In [ ]:
#write a program take 2 numbers perform the
# subtraction
#multiplication
#division
#print the statements as follows

# the subtraction of 100 and 200 is -100
#the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5

# wap take three numbers perform the average
# a,b,c
# avg =a+b+c/3
# print the statwment
# the avg of a,b,c is: avg

In [1]:
num1=100
num2=20
sub=num1-num2
mul=num1*num2
div=num1/num2
print("the subtraction of {} and {} is {}".format(num1,num2,sub))
print("the multiplication of {} and {} is {}".format(num1,num2,mul))
print("the division of {} and {} is {}".format(num1,num2,div))

the subtraction of 100 and 20 is 80
the multiplication of 100 and 20 is 2000
the division of 100 and 20 is 5.0

In [18]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is",avg)

the average of a,b,c is 20.0

In [21]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of {},{},{} is {}".format(a,b,c,avg))

the average of 10,20,30 is 20.0

**F string: Formatted string method**
- Formating the string

In [22]:
num1=1000
num2=200
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

the addition of 1000 and 200 is 1200

In [23]:
print(f"my name is {name} im {age} years old and came from {city}")
print(f"the subtraction of {num1} and {num2} is {sub}")
print(f"the multiplication of {num1} and {num2} is {mul}")
print(f"the division of {num1} and {num2} is {div}")

my name is python im 10 years old and came from Hyd
the subtraction of 1000 and 200 is -100
the multiplication of 1000 and 200 is 20000
the division of 1000 and 200 is 0.5

In [96]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(avg)

20.333333333333332

**Round**

In [ ]:
CTRL+A and CRTL+/ to comment bulk statements

In [1]:
round(10.77777) # 10.7 =======> 11
round(10.77777,2) # 10.78
round(10.777777777,3) # 10.778
print(round(10.77777))
print(round(10.77777,2))
print(round(10.777777777,3))

10.8
10.78
10.778

In [103]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,1)
print(avg1)
print(round(avg,2))

20.3
20.33

**I have multiple print statements but i want to show in single line**

**End operator**

In [108]:
print(10,end=" ")
print('Last number')

10 Last number

In [32]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [109]:
print(10,20,30)

10 20 30

In [33]:
print('Hello',end=' ')
print('How',end=' ')
print('are',end=' ')
print('you')

Hello How are you

**I have multiple values in a single print statement**
**I want to print them with some separation**

In [34]:
print(10,20,30)
#10 ====> 20 =====> 30

10 20 30

**Separate**

In [35]:
print(10,20,30,sep='====>')

10====>20====>30

- Basic print statement

- we learn format method

- we learn f string method

- we learn round

- we learn end operator

- we learn sep operator

In [ ]:
# wap take the radius of a circle calculating area of circle
# var: radius var: pi=3.14
# formulae: pi*radius*radius
# print the answer using f string and format

# wap take the breadth and height of the right angle triangle
# calculate the area
# var1: breadth var2: height
# formulae: 0.5*breadth*height

# wap take the bill amounnt and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formulae

# wap take the length and breadth of a rectangle calculate area
# var 1: length var2: breadth
# formulae:lenght*breadth

In [9]:
rad=3
pi=3.14
area=(pi*rad**2)
print("Area of the circle: {}".format(area))

Area of the circle: 28.26

In [10]:
rad=6
pi=3.14
area=(pi*rad*rad)
print(f"Area of the circle :{area}")

Area of the circle :113.03999999999999

In [6]:
breadth=20
length=30
area=(0.5*breadth*length)
print("Area of right angle triangle: {}".format(area))

Area of right angle triangle: 300.0

In [4]:
breadth=20
var2=30
area=(0.5*breadth*var2)
print(f"Area of right angle triangle : {area}")

Area of right angle triangle : 300.0

In [7]:
bill_amount=5000
tip_amount=200
total_bill=bill_amount+tip_amount
print("The total bill is {}".format(total_bill))

The total bill is 5200

In [8]:
bill_amount=5000
tip_amount=200
total_bill=bill_amount+tip_amount
print(f"The total bill is {total_bill}")

The total bill is 5200

In [10]:
length=10
breadth=20
area=length*breadth
print("Area of rectangle: {}".format(area))

Area of rectangle: 200

In [11]:
length=10
breadth=20
area=length*breadth
print(f"Area of rectangle is {area}")

Area of rectangle is 200

**Input**

- in the above provided value

- input is the inbuilt function

- using input the user can provide any value

In [12]:
input

**Note**

- whenever if we see bound method or function which indicates we forget the brackets

In [2]:
input()

 50

'50'

In [15]:
input()

 python

'python'

In [16]:
a=100
type(a)

int

In [3]:
name=input()

 Bomb

In [4]:
name

'Bomb'

In [19]:
b=input()

 pycharm

In [20]:
b

'pycharm'

In [12]:
a=input() #a=100
b=input() #b=200
c=input() #c=300

 100
 200
 30

In [13]:
a,b,c

('100', '200', '30')

In [27]:
n1=input("enter the number1:") #n1='40'
n2=input("enter the number2:") #n2='20'

enter the number1: 40
enter the number2: 20

In [28]:
n1=input("enter the number1:") #n1='10'
n2=input("enter the number2:") #n2='20'
n1+n2 #'10'+'20'='1020'

enter the number1: 10
enter the number2: 20

'1020'

**input values by default string types**

In [ ]:
# str1='apple'
# str2='is'
# str3='fruit'

In [8]:
str1=input("enter the str1:")
str2=input("enter the str2:")
str3=input("enter the str3:")
str1+str2+str3

enter the str1: Apple
enter the str2:  is a
enter the str3:  friut

'Apple is a friut'

In [17]:
n1=int(input("enter the number1:")) #n1=int('10')=10
n2=int(input("enter the number2:")) #n2=int('20')=20
n1+n2 #int('10')+int('20')='30'

enter the number1: 10
enter the number2: 20

30

In [2]:
n1=float(input("enter the number1:")) 
n2=int(input("enter the number2:")) 
n1+n2

enter the number1: 22.5
enter the number2: 30

52.5

**Eval**

- eval means evaluate

- it is related to math family

- which means it works only number represent as strings

- it will not works on english letters

- eval will convert the respective data type which is user enter

- if user enter 10 in quotes it will convert into 10

- if user enter 10.5 in quotes it will convert into 10.5

In [ ]:
int('10') # 10
int('10.5') # error

float('10') # 10.0
float('10.5') # 10.5

In [4]:
eval('10'),eval('10.5')

(10, 10.5)

In [5]:
n1=eval(input("enter the number1:")) #n1=int('10')=10
n2=eval(input("enter the number2:")) #n2=int('20')=20
n1+n2

enter the number1: 10
enter the number2: 20

30

In [7]:
n1=eval(input("enter the number1:")) #n1=int('10')=10
n2=eval(input("enter the number2:")) #n2=int('20')=20
n1+n2

enter the number1: 22.666
enter the number2: 33.8

56.465999999999994

In [ ]:
#1) wap ask user enter 3 numbers n1,n2,n3
# wap take the radius of a circle calculating area of circle
# var: radius var: pi=3.14
# formulae: pi*radius*radius
# print the answer using f string and format

# wap take the breadth and height of the right angle triangle
# calculate the area
# var1: breadth var2: height
# formulae: 0.5*breadth*height

# wap take the bill amounnt and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formulae

# wap take the length and breadth of a rectangle calculate area
# var 1: length var2: breadth
# formulae:lenght*breadth

In [8]:
n1=eval(input("enter n1:"))
n2=eval(input("enter n2:"))
n3=eval(input("enter n3:"))
avg=(n1+n2+n3)/3
print(f"Average:{avg}")

enter n1: 100
enter n2: 200
enter n3: 300

Average:200.0

In [11]:
name=(input("enter name:"))
age=eval(input("enter age:"))
city=(input("enter city:"))
print(f"my name is {name} im {age} years old and came from {city}")

enter name: python
enter age: 10
enter city: hyd

my name is python im 10 years old and came from hyd

In [18]:
rad=eval(input("enter radius:"))
pi=3.14
area=(pi*rad*rad)
print(f"Area of the circle: {area}")
print("Area of circle:{}".format(area))

enter radius: 2

Area of the circle: 12.56
Area of circle:12.56

In [17]:
breadth=eval(input("enter the breadth:"))
length=eval(input("enter the length:"))
area=(0.5*breadth*length)
print("Area of right angle triangle: {}".format(area))
print(f"Area of right angle triangle: {area}")

enter the breadth: 10
enter the length: 20

Area of right angle triangle: 100.0
Area of right angle triangle: 100.0