# List comprehension

- List comprehension is a way to write list operations in a single line

- when we apply for loop and if-else conditional statements then the code compilation becomes low

- which means it takes much time 

- in order to avoid time complexity we will use list comprehension

- list comprehension is a single line code

**Case-1: Only for loop**

In [1]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<write code here>]
# inside code no need of append
list1=[<output var> <for loop>]

In [2]:
list1=[i for i in range(10)]
list1                         # dont give : after for loop

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

# Q3) input=['hyd','bengaluru','pune','mumbai']
#    multiply the indexes with 10

# Q3) input=['hyd','bengaluru','pune','mumbai']
#       calculate the sum of the indexes

# Q5) sum of first 10 natural numbers save in a list

In [3]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

input=['hyd','bengaluru','pune','mumbai']
l=[]
for i in input:
    l.append(i.capitalize())

l

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [5]:
Q1)
input=['hyd','bengaluru','pune','mumbai']
l=[i.capitalize() for i in input]
l

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [6]:
input=['hyd','bengaluru','pune','mumbai']
l=[]
for i in input:
    l.append(i.upper())
l

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [7]:
#Q2)
input=['hyd','bengaluru','pune','mumbai']
l=[i.upper() for i in input]
l

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [10]:
input=['hyd','bengaluru','pune','mumbai']
l=[]
for i in input:
    print(input.index(i)*10)
l

0
10
20
30

[]

In [11]:
#Q3)
[input.index(i)*10 for i in input]

[0, 10, 20, 30]

In [14]:
#Q4)
input=['hyd','bengaluru','pune','mumbai']
l=[input.index(i)*10 for i in input]
sum(l)

60

In [15]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

**Walrus operator**

In [18]:
summ=0
[summ:=summ+i for i in range(1,11)]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [19]:
l=[summ=summ+i for i in range(1,11)]
l

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1517040473.py, line 1)

In [24]:
#Q5)
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

**Case-2: for loop and if condition**

In [25]:
# even number
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [28]:
[f'even:{i}' for i in range(1,10) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8']

In [29]:
[f'even:{i}' if i%2==0 for i in range(1,10) ]

SyntaxError: expected 'else' after 'if' expression (2284067191.py, line 1)

In [35]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

input=['hyd','ben#galuru','pune','mu#mbai']
for i in input:
    if '#' in i:
        print(i)

ben#galuru
mu#mbai

[]

In [37]:
input=['hyd','ben#galuru','pune','mu#mbai']
l=[i for i in input if '#' in i]
l

['ben#galuru', 'mu#mbai']

In [38]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]
input=['hyd','ben#galuru','pune','mu#mbai']
for i in input:
    if '#' not in i:
        print(i)

hyd
pune

In [39]:
input=['hyd','ben#galuru','pune','mu#mbai']
l=[i for i in input if '#' not in i]
l

['hyd', 'pune']

**Case-3: for loop if-else**

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if cond>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]

In [40]:
# even number
list1=[]
for i in range(1,10):
    if i%2==0:
        list1.append(f'even:{i}')
    else:
        list1.append(f'odd:{i}')
list1

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [43]:
[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10) ]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

**case-4: for-if-elif-else**

- in list comprehension we dont have **elif** representation

- elif also represent as **else+if**

- in elif we have **elif condition** and elif output

- else elif_output elif_condition

In [ ]:
case-1 for loop: [<output> <for loop>]
case-2: for-if: [<output> <for loop> <if cond>]
case-3: for-if-else: [<if out> <if cond> else <else out> <for loop>]
case-4: for-if-elif-else: [<if out> <if cond> else <elif out> <elif condi> else <else out> <for loop>]

**Note**: instead of elif term write if

In [45]:
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}:A grade')
    elif i>60:
        print(f'{i}:B grade')
    else:
        print(f'{i}:C grade')

45:C grade
55:C grade
65:B grade
75:B grade
85:B grade
95:A grade

In [49]:
grade=[f'{i}:A grade' if i>85 else f'{i}:B grade' if i>60 else f'{i}:C grade' for i in l]
grade

['45:C grade',
 '55:C grade',
 '65:B grade',
 '75:B grade',
 '85:B grade',
 '95:A grade']

In [50]:
grade=[f'{i}:A grade' if i>85\
       else
       f'{i}:B grade' if i>60\
       else 
       f'{i}:C grade' for i in l]
grade

['45:C grade',
 '55:C grade',
 '65:B grade',
 '75:B grade',
 '85:B grade',
 '95:A grade']

In [77]:
m=[]
for i in range(1,36):
    if i%3==0:
        m.append(f'{i},{i**2}')
m

['3,9',
 '6,36',
 '9,81',
 '12,144',
 '15,225',
 '18,324',
 '21,441',
 '24,576',
 '27,729',
 '30,900',
 '33,1089']

In [78]:
pwd

'C:\\Users\\91703\\Documents\\Data Science Naresh IT\\Python_sessions'

In [79]:
[f'{i},{i**2}' for i in range(1,36) if i%3==0 ]

['3,9',
 '6,36',
 '9,81',
 '12,144',
 '15,225',
 '18,324',
 '21,441',
 '24,576',
 '27,729',
 '30,900',
 '33,1089']

In [4]:
# list of student marks in python, marks=[45,76,89,53,67,90,82,49,33,99],solve all below by using list comprehension 
# a)filter students who passed(maeks>=50)
# b)calculate grades for all students(A:85+, B:70-84, C:50-69, F:<50)
# c)Add 5 grace marks to students who failed(<50)
# d)identify top 3 scorers
# e)find avg of the class

marks=[45,76,89,53,67,90,82,49,33,99]
pass_students=[]
for i in marks:
    if i>=50:
        pass_students.append(i)

print(pass_students)

[76, 89, 53, 67, 90, 82, 99]

In [14]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i >= 50:
        print(marks.index(i))

1
2
3
4
5
6
9

In [8]:
pass_students=[f'{i}' for i in marks if i>=50 ]
print(pass_students)

['76', '89', '53', '67', '90', '82', '99']

In [15]:
# b)calculate grades for all students(A:85+, B:70-84, C:50-69, F:<50)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=85:
        print(f'{i}:A')
    elif i>=70:
        print(f'{i}:B')
    elif i>=50:
        print(f'{i}:C')
    else:
        print(f'{i}:F')

45:F
76:B
89:A
53:C
67:C
90:A
82:B
49:F
33:F
99:A

In [17]:
marks=[45,76,89,53,67,90,82,49,33,99]
grades=[f'marks={i}: A grade' if i>=85
       else f'marks={i}: B grade' if i>=70
       else f'marks={i}: C grade' if i>=50
       else f'marks={i}: F grade'
       for i in marks]
print(grades)

['marks=45: F grade', 'marks=76: B grade', 'marks=89: A grade', 'marks=53: C grade', 'marks=67: C grade', 'marks=90: A grade', 'marks=82: B grade', 'marks=49: F grade', 'marks=33: F grade', 'marks=99: A grade']

In [18]:
# c)Add 5 grace marks to students who failed(<50)
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i<50:
        print(i+5)

50
54
38

In [19]:
[i+5 for i in marks if i<50]

[50, 54, 38]

In [20]:
# d)identify top 3 scorers
marks=[45,76,89,53,67,90,82,49,33,99]
max_val=max(marks)   # 99
for i in range(3):
    max_val=max(marks)  # 
    print(max_val)
    marks.remove(max_val)

99
90
89

In [28]:
# e)find avg of the class
marks=[45,76,89,53,67,90,82,49,33,99]
summ=0
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [ ]:
l1=[1,2],[4,5],[7,9]
l2=[10,20]
# find the distance between l2 with all other points from l1
# which is the max distance give me that

In [32]:
import math
l1=[1,2]
l2=[10,20]
d1=l2[0]-l1[0]
d1_square=math.pow(d1,2)
d2=l2[1]-l1[1]
d2_square=math.pow(d2,2)
summ=d1_square+d2_square
print(summ)
math.sqrt(summ)

405.0

20.12461179749811

In [37]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

20.12461179749811

In [ ]:
**Interview Questions**
# how to sort the list
# how to find the maximum value of the list
# how to find the minimum value of the list
# how to find the second maximum value of the list
# how to find the second minimum value of the list
# how to find the longest word of the string
# how to find the most repeated word of the string