**Lists**

**Basic Representation**

- strings will use in quotes

- list elements is in square brackets

In [1]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [2]:
print(list1)

[1, 2, 3, 4, 5]

In [3]:
type(list1)
# for strings ===== str
# we will say strings ==== but type is str
# we will say list ==== type also list

list

In [4]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [5]:
list3=[1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [6]:
list3=[1,2,3,'A','B','C',0.2,5.1,'a','b']
list3

[1, 2, 3, 'A', 'B', 'C', 0.2, 5.1, 'a', 'b']

In [7]:
int(list3)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [8]:
type(list3)

list

In [9]:
str(list3)

"[1, 2, 3, 'A', 'B', 'C', 0.2, 5.1, 'a', 'b']"

In [10]:
float(list3)

TypeError: float() argument must be a string or a real number, not 'list'

In [13]:
l1=[' ',' ']
l1

[' ', ' ']

In [15]:
list4=[123]
list4

[123]

In [16]:
l2=[10,10,10]
l2

[10, 10, 10]

In [1]:
list9=[_]
list9

['']

In [9]:
list1=[10,20,2,5,75]
list2=['Apple','apple','cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
print(len(list1),max(list1),min(list1),sum(list1))
print(len(list2),max(list2),min(list2))
print(len(list3))

5 75 2 112
4 cherry Apple
9

In [21]:
len(list2)

4

In [22]:
len(list3)

9

In [23]:
max(list1)

75

In [24]:
max(list2)

'banana'

In [25]:
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
min(list1)

2

In [27]:
min(list2)

'Apple'

In [28]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
sum(list1)

112

In [30]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
sorted(list1)

[2, 5, 10, 20, 75]

In [33]:
sorted(list2)

['Apple', 'Cherry', 'apple', 'banana']

In [34]:
sorted(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
reversed(list1)

In [44]:
#method-1 : apply list
list(reversed(list1))

[75, 5, 2, 20, 10]

In [ ]:
#method-2 : iterate through for loop
for i in

In [36]:
reversed(list2)

In [42]:
reversed(list3)

In [40]:
ans=reversed(list1)
list(ans)

[75, 5, 2, 20, 10]

In [41]:
ans=reversed(list2)
list(ans)

['banana', 'Cherry', 'apple', 'Apple']

In [43]:
ans=reversed(list3)
list(ans)

['banana', 'Cherry', 'apple', 'Apple', 75, 5, 2, 20, 10]

In [45]:
sorted(list1),sorted(list1,reverse=True)

([2, 5, 10, 20, 75], [75, 20, 10, 5, 2])

In [ ]:
# in the interview
# list1=[10,20,2,5,75]
# Q1) sort the list with out sorted function
# Q2) find the max value wthout max function
# Q3) find the min value with out min function
# Q4) reverse the elements with out reversed function
# Q5) sum the elements with out sum functions
# Q6) find the second min and second max

**Concatenation**

In [47]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list1+list2

[10, 20, 2, 5, 75, 'Apple', 'apple', 'Cherry', 'banana']

In [48]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [49]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [51]:
list1*2

[10, 20, 2, 5, 75, 10, 20, 2, 5, 75]

**Index**

In [52]:
# -6  -5  -4  -3 -2 -1
# 10  20  30  A  B  C
# 0   1   2   3  4  5
list1=[10,20,33,'A','B','C']
list1[0],list1[-6]

(10, 10)

In [2]:
list1=[10,20,33,'A','B','C']
n=len(list1)
for i in range(0,n):
    print(f'The positive index of {list1[i]} is {i} and the negative index of {list1[i]} is {i-n}')

The positive index of 10 is 0 and the negative index of 10 is -6
The positive index of 20 is 1 and the negative index of 20 is -5
The positive index of 33 is 2 and the negative index of 33 is -4
The positive index of A is 3 and the negative index of A is -3
The positive index of B is 4 and the negative index of B is -2
The positive index of C is 5 and the negative index of C is -1

In [95]:
list1=[[10]]
list1

[[10]]

In [68]:
list1=[[10]]
list1[0]

[10]

In [69]:
list1[0][0]

10

In [75]:
list2=[[10,20]]
list2[0],len(list2)

([10, 20], 1)

In [73]:
list2[0][0]

10

In [76]:
list3=[10,20]
list3[1], len(list3)

(20, 2)

In [77]:
list4=[10,[20]]
len(list4)

2

In [80]:
list4[1][0]

20

In [81]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [83]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [84]:
list2=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon']]]]]
list2[1][2][2][2][0]

'Dragon'

In [85]:
list2=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon']]]]]
len(list2[1])

3

In [86]:
list3=['Apple',['kashmir',['India',['cricket',['bat']]]]]
list3[1][1][1][1][0]

'bat'

In [87]:
list5=['orange',['nagpur',['MH',['Shivaji',['shambaji',['vicky']]]]]]
list5[1][1][1][1][1][0]

'vicky'

In [88]:
list6=[[[[[[[['apple']]]]]]]]
list6[0][0][0][0][0][0][0][0]

'apple'

In [ ]:
# in the interview
# list1=[10,20,2,5,75]
# Q1) sort the list with out sorted function
# Q2) find the max value wthout max function
# Q3) find the min value with out min function
# Q4) reverse the elements with out reversed function
# Q5) sum the elements with out sum functions
# Q6) find the second min and second max

In [9]:
# Q1) sort the list with out sorted function
list1=[10,20,2,5,75]
n=len(list1)
for i in range(0,n):
    for j in range(0,n-1):
        if list1[j]>list1[j+1]:
            list1[j],list1[j+1]=list1[j+1],list1[j]
print(list1)

[2, 5, 10, 20, 75]

In [11]:
n=len(list1)
print(n)

5

In [13]:
list1=[10,20,2,5,75]
sorted(list1)

[2, 5, 10, 20, 75]

In [19]:
list1=[10,20,2,5,75,674]
# Q2) find the max value wthout max function
max=list1[0]
for i in list1:
    if i>max:
        max=i
print(max)

674

In [21]:
list1=[10,20,2,5,75,674]
# Q3) find the min value with out min function
min=list1[0]
for i in list1:
    if i<min:
        min=i
print(min)

2

In [24]:
list1=[10,20,2,5,75]
# Q4) reverse the elements with out reversed function
reversed_list=list1[::-1]   # by list slicing
print(reversed_list)

[75, 5, 2, 20, 10]

In [48]:
x=[10,20,2,5,75]
n=len(x)
i=0
j=n-1
while i<j:
    x[i],x[j]=x[j],x[i]
    i=i+1
    j=j-1
print(x)

[75, 5, 2, 20, 10]

In [25]:
reversed(list1)

In [28]:
ans=reversed(list1)
list(ans)

[75, 5, 2, 20, 10]

In [35]:
list1=[10,20,2,5,75]
# Q5) sum the elements with out sum functions
summ=0
for i in list1:   # using loop
    summ=summ+i
print(summ)

112

In [4]:
a=[10,20,2,5,75]
# Q6) find the second min and second max
n=len(a)
for i in range(0,n):
    for j in range(i+1,n):
        if a[i]<a[j]:
            a[i],a[j]=a[j],a[i]

print(f'Second maximum number of the list is:{a[1]}')

Second maximum number of the list is:20

In [5]:
# second min
a=[10,20,2,5,75]
n=len(a)
for i in range(0,n):
    for i in range(i+1,n):
        if a[i]<a[j]:
            a[i],a[j]=a[j],a[i]

print(f'Second minimum number of the list is:{a[-2]}')

Second minimum number of the list is:5

**in**

In [2]:
list1='p','y','t','h','o','n'
str1='python'
'p' in str1
'p' in list1

True

**range vs in**

- when we have use with index then go for range

- when we have use with only element go for in

**mutable vs immutable**

In [5]:
list1=[1,2,3,4,5]
list1[0]=8
print(list1)

[8, 2, 3, 4, 5]

**list are mutable**

**slice**

In [ ]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]
l1[::]
l1[::-1]
l1[2:10:2]
l1[2:10:-2]
l1[2:-10:2]
l1[-2:10:2]
l1[2:-10:-2]
l1[-2:10:-2]
l1[-2:-10:2]
l1[-2:-10:-2]
l1[10:2:2]
l1[10:2:-2]

In [59]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [8]:
l1[::]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [9]:
l1[::-1]

['banana', 'apple', 'E', 'D', 'C', 'B', 'A', 50, 40, 30, 20, 10]

In [60]:
l1[2:10:2]

[30, 50, 'B', 'D']

In [61]:
l1[2:10:-2]

[]

In [63]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[2:-2:2]

[30, 50, 'B', 'D']

In [13]:
l1[-2:10:2]

[]

In [14]:
l1[2:-10:-2]

[]

In [15]:
l1[-2:10:-2]

[]

In [16]:
l1[-2:-10:2]

[]

In [17]:
l1[-2:-10:-2]

['apple', 'D', 'B', 50]

In [18]:
l1[10:2:2]

[]

In [19]:
l1[10:2:-2]

['apple', 'D', 'B', 50]

**methods**

In [21]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

- clear

- copy

- count

In [24]:
l1=[1,2,3,4,5,6,7,8,9]
l1.clear()
l1

[]

In [29]:
l1=[1,2,3,4,5,6,7,8,9]
l2=l1.copy()
l1.clear()
print(l1)
print(l2)

[]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l1=[1,2,3,4,5,6,7,8,9]
l2=l1
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
l1=[1,2,3,4,5,6,7,8,9,1,'A','B','C',1]
l1.count(1)

2

In [33]:
str1='ola ola ola'
str1.count('o')

3

**append**

- append is very very important method in the entire list

- in our life we will use this method very very frequently

- append means adding an element at last

In [34]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [35]:
l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [36]:
l1=[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [37]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**always recall if you see anywhere multiple values means most of the time we will keep those values in a list**

In [38]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [39]:
l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [40]:
l1=[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [41]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

- append method is used to store the outputs

In [42]:
# example: i wamt to append a numbers from 1 to 5
# l=[1,2,3,4,5]

l=[]
######################
l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)
#####################
l

[1, 2, 3, 4, 5]

In [44]:
l=[]
for i in range(1,6):
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [54]:
# wap ask the user enter 3 random numbers
# perform square of the numbers, save those squares in a list

import random
l=[]
for i in range(3):
    n=random.randint(1,100)
    l.append(f'{n}:{n**2}')
print(l)

['48:2304', '38:1444', '83:6889']

In [1]:
# Q2) i already have a list of numbers 
# l=[10,47,53,12,27]
# from above list i want to get a even list and odd list
# output will be even_list=[10,12]
# odd_list=[47,53,27]

l=[10,47,53,12,27]
even_list=[]
odd_list=[]
for i in l:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print(f'even_list:{even_list}')
print(f'odd_list:{odd_list}')

even_list:[10, 12]
odd_list:[47, 53, 27]

In [ ]:
# Q3) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q4) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

# Q7) input = 'hai how are you'
#     output=['HAI','HOW','ARE','YOU']

# Q8) input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
#     fname=['virat','rohit'.'ms']
#     sname=['kohli','sharma','dhoni']
#     cname=['rcb','mi','csk']

# Q9) input='can canner can you can not canner with you but you can the canner'
#     output=['can'-4,'canner'-3,'you'-3,'not'-1,'with'-1,'but'-1,'the'-1]

# Q10) input = 'can canner can you can not canner with you but you can the canner'
#      stopwords=['not','you','but','with']
#      using stopwords remove those words from input
#     output='can canner can can canner can canner'

# Q11) take a string find the most repeated word from string

# Q12) take a string find the longest length of the word from string

# Q13) take a string find the lowest length of the word from string

# Q14) you have some qns list is there
#      also you have answers list also there
#     qns=['who is PM of india',
#       'what is the capital of india', who is ICT MENS captain]
#    ans=['Modi','Delhi','Rohit']
#    whenerver correct answer marks +10
#    print you got total

In [2]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Extend**

In [4]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [5]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.extend(l1)
l2

# find the diff between append extend concatenation

['A', 'B', 'C', 'D', 1, 2, 3, 4, 5]

In [7]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l3=l1+l2
l3

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [9]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l2.append(l1)
l2

['A', 'B', 'C', 'D', [1, 2, 3, 4, 5]]

In [10]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
print(l1+l2)
print(l1)
print(l2)
print('l1 will be overwrite if we use extend')
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']
l1 will be overwrite if we use extend
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**Index**

In [ ]:
- strings we have index and find

- but in list we have only index

- same as strings concept

In [15]:
l1=[1,2,3,4,5,'Apple','banana','cherry']
l2=['A','B','C','D']
l1.index(2)

1

In [16]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
m=l1.index(5)
print(l1.index(5,m+1))

10

**insert**

- difference between insert and append

In [20]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
m=l1.index('Apple')
l1.insert(m,100)
l1

[1, 2, 3, 4, 5, 100, 'Apple', 'banana', 'cherry', 3, 4, 5, 6]

In [21]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
m=l1.index('Apple')
l1.insert(m+1,100)
l1

[1, 2, 3, 4, 5, 'Apple', 100, 'banana', 'cherry', 3, 4, 5, 6]

In [23]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.append(100)
l1

[1, 2, 3, 4, 5, 'Apple', 'banana', 'cherry', 3, 4, 5, 6, 100]

**pop vs remove**

In [31]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.pop()
l1

[1, 2, 3, 4, 5, 'Apple', 'banana', 'cherry', 3, 4, 5]

In [29]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.pop(5)
l1

[1, 2, 3, 4, 5, 'banana', 'cherry', 3, 4, 5, 6]

In [30]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.remove('Apple')
l1

[1, 2, 3, 4, 5, 'banana', 'cherry', 3, 4, 5, 6]

In [33]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.remove(4)
l1

[1, 2, 3, 5, 'Apple', 'banana', 'cherry', 3, 4, 5, 6]

In [38]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
del(l1[5])
l1

[1, 2, 3, 4, 5, 'banana', 'cherry', 3, 4, 5, 6]

- if we want delete any element

- pop:based on index

- remove:based on value

- del is an inbuilt function

In [41]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
print(l1)
del(l1)
l1

[1, 2, 3, 4, 5, 'Apple', 'banana', 'cherry', 3, 4, 5, 6]

NameError: name 'l1' is not defined

In [42]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
del l1[5]   # del(l1[5])
l1

[1, 2, 3, 4, 5, 'banana', 'cherry', 3, 4, 5, 6]

**reverse-reversed**

- reverse is a method

- reversed is an inbuilt function

In [44]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
l1.reverse()
l1

[6, 5, 4, 3, 'cherry', 'banana', 'Apple', 5, 4, 3, 2, 1]

In [46]:
l1=[1,2,3,4,5,'Apple','banana','cherry',3,4,5,6]
reversed(l1)
l1

[1, 2, 3, 4, 5, 'Apple', 'banana', 'cherry', 3, 4, 5, 6]

**IN PLACE**

- when we perform the operations sometimes the values will  not ovewrite

- if you see **in place** word or **in place = True**

- this indicates the output will be overwrite in corresponding variable

**sort-sorted**

In [54]:
l1=[1,2,8,9,7,3,4,5,3,4,5,6,]
l1.sort()
l1

[1, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 9]

In [53]:
l1=[1,8,7,9,2,3,4,5,3,4,5,6]
sorted(l1)
l1

[1, 8, 7, 9, 2, 3, 4, 5, 3, 4, 5, 6]

In [56]:
str1='python'
sorted(str1)

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
str1.sort()  # it is not available

- inbuilt functions applicable for any datatype

- but methods work wrt data types